header{
    justify-content: center;
}
nav{
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
}
#titulo{
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 2rem;
}
p{
    text-align: center;
}
footer{
    background-color: chartreuse;
    color: chocolate;
}